{% extends 'home.html' %}
{% load static %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Sales Details</h1>
          </div><!-- /.col -->
          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
      <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-sm-6">
                <div class="card-body">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                      Add a Sales
                  </button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add a Shop</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                        <form method="POST">
                            {% csrf_token %}
                            <table>
                                <tr>
                                    <td>
                                        <label>Date</label>
                                    </td>
                                    <td>
                                        {{ form.date }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Shop Name</label></td>
                                    <td>{{ form.shop_name }}</td>
                                </tr>
                                <tr>
                                    <td><label>Number of Cylinders</label></td>
                                    <td>{{ form.no_of_cylinders }}</td>
                                </tr>
                            </table>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input  type="submit" class="btn btn-primary">
                          </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>
      <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h2 class="card-title">Sales Details</h2>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-end">
                    {% if sales.has_previous %}
                        <li class="page-item"><a href="?page=1" class="page-link">&laquo; First</a></li>
                        <li class="page-item"><a href="?page={{ sales.previous_page_number }}" class="page-link">Previous</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link">Page {{ sales.number }} of {{ sales.paginator.num_pages }}</a></li>
                    {% if sales.has_next %}
                        <li class="page-item"><a href="?page={{ sales.next_page_number }}" class="page-link">Next</a></li>
                        <li class="page-item"><a href="?page={{ sales.paginator.num_pages}}" class="page-link">Last&raquo</a></li>
                    {% endif %}
                    </ul>
                  </nav>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                      <thead>
                          <tr>
                            <td>S.No</td>
                            <td>Date</td>
                            <td>Shop Name</td>
                            <td>Number of Cylinders</td>
                            <td>Number of Empty</td>
                            <td>Total Amount</td>
                            <td>Paid Amount</td>
                            <td>Edit</td>
                            <td>Delete</td>
                         </tr>
                      </thead>
                      <tbody>
                      {% for i in sales %}
                          <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.date }}</td>
                            <td>{{ i.shop_name }}</td>
                            <td>{{ i.no_of_cylinders }}</td>
                            <td>{{ i.no_of_empty }}</td>
                            <td>{{ i.amount }}</td>
                            <td>{{ i.paid_amount }}</td>
                            <td><a href="{% url 'edit-sales' i.id %}" class="btn btn-primary btn-block">Update</a></td>
                            <td><a href="{% url 'delete-sales' i.id %}" class="btn btn-primary btn-block">Delete</a></td>
                          </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
          </div>
    </section>
    </div>
  </div>  <!-- /.content-header -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% for msg in messages %}
        swal('{{ msg }}');
    {% endfor %}
</script>
{% endblock %}
